body {
    background-color: #609BE2;
}

.c1 {
    text-decoration: none;
    color: #44B9E6;
    background-color: #9BC6FA;
    padding: 5px;
    border: 3px solid green;
    border-radius: 40%;
}

.c2 { 
    text-decoration: none;
    color: #44B9E6;
    background-color: #9BC6FA;
    padding: 5px;
    border: 3px solid black;
    border-radius: 40%;
}

.c3 { 
    text-decoration: none;
    color: #44B9E6;
    background-color: #9BC6FA;
    padding: 5px;
    border: 3px solid black;
    border-radius: 40%;
}

.c4 { 
    text-decoration: none;
    color: #44B9E6;
    background-color: #9BC6FA;
    padding: 5px;
    border: 3px solid black;
    border-radius: 40%;
}

.w1 {
    display: flex;
    justify-content: space-between;
}

.w2 {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.w2 a{
    text-decoration: none;
    padding: 5px;
}

header .w1 {
    background-color: #9BC6FA;
}

h1 {
    font-size: 20px;
}

.h1 {
    margin-top: 60px;
}

.d0 {
    text-align: center;
}

.d1 {
    display: flex;
    justify-content: center;
}

.d2 {
    display: flex;
    justify-content: left;
}

.d3 {
    text-align: center;
}

footer {
    background-color: #44B9E6
}

.h2 {
    background-color: #9BC6FA;
}
